body {
  font-size: 15px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font: bold;
  font-size: 40px;
  margin: 30px;
  text-align: center;
}

.compra {
  border: 1px solid black;
}

.cabecera {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  align-items: end;
  text-align: center;
}
.productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  border: 3px solid black;
  border-radius: 20px;
  position: absolute;
  top: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.product {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.separator {
  align-self: center;
}
.caja-main {
  position: relative;
  height: 100%;
}
#carrito img {
  width: 250px;
  height: 300px;
  border-image: auto;
}
.empty {
  padding-top: 50px;
  padding-bottom: 50px;
}
nav {
  padding: 30px 0 30px 0;
}
nav > a {
  padding: 15px;
  gap: 15px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-section {
  background-color: hsl(0, 88%, 51%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
}

.footer-section ul a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
