.header-section {
  margin: 5px;
}

nav {
  display: flex;
  align-items: center;
}

nav > a {
  padding: 15px;
  gap: 15px;
}

main {
  background-color: #d7eeeb;
  
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
#main img {
  width: 300px;
  height: 300px;
 }

