body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#couponForm {
  display: flex;
  justify-content: end;
}
h1 {
  font-family: Helvetica, sans-serif;
  font: bold;
  font-size: 40px;
  margin: 30px;
  text-align: center;
}
.compra {
  border: 1px solid black;
}
.cabecera {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  align-items: end;
  text-align: center;
}
.productos {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  padding: 20px;
  gap: 20px;
  border: 3px solid black;
  border-radius: 20px;
  position: absolute;
  top: 0;
}
.product {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.separator {
  align-self: center;
}
.caja-main {
  position: relative;
  height: 100%;
}

.contenido h3,
.contenido p {
  display: inline-block;
  margin: 0;
}

.cupon-container {
  display: inline-block;
  margin: 0;
}

#couponForm {
  display: inline-block;
  margin: 0;
}

.empty {
  padding-top: 50px;
  padding-bottom: 50px;
}
nav {
  padding: 20px 0 20px 0;
}
nav > a {
  padding: 15px;
  gap: 15px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  max-width: 40px;
}

.footer-section {
  background-color: hsl(0, 88%, 51%);
  color: hsl(0, 0%, 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 10px;
}

.footer-section ul a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.cabecera {
  text-align: left;
  margin-left: 300px;
}
#userInfoSection {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

button {
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 5px;
  color: white;
  background-color: hsl(0, 100%, 54%);
}

footer p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}
