#couponForm {
    display: none;
}
h1 {
  font-family: Helvetica, sans-serif;
  font: bold;
  font-size: 40px;
  margin: 30px;
  text-align: center;
}
.compra {
  border: 1px solid black;
}
.cabecera {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  align-items: end;
  text-align: center;
}
.productos {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  padding: 20px;
  gap: 20px;
  border: 3px solid black;
  border-radius: 20px;
  position: absolute;
  top: 0;
}
.product {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.separator {
  align-self: center;
}
.caja-main {
  position: relative;
  height: 100%;
}
.empty {
  padding-top: 50px;
  padding-bottom: 50px;
}
nav {
  padding: 20px 0 20px 0;
}
nav > a {
  padding-left: 10px;
  padding-right: 10px;
}
img{
  max-width: 50px;
}